@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Lora', serif;
  font-weight: 300;
  background-color: #F7F9FC;
  color: #575F7D;
  margin: 8px;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #575F7D;
}

h2 {
  color: #D6D790;
}

p {
  padding-bottom: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.social-icons {
  font-size: 48px;
  color: #e1e4e9;
  margin: 8px;
}

.social-icons:hover {
  color: #1B6295;
}

.card-white {
  background-color: white;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.img-circle {
  width: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color: #575F7D;
  margin: 20px;
  width: 24px;
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: black;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}